.App {
  text-align: center;
  background-color: rgba(146, 146, 146,0.3);

}

.App.rtl {
  direction: rtl;
}

.App.ltr {
  direction: ltr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
