.legend-card {
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-inline-end: 5px;
  }
  
  .legend-color-blue {
    background-color: blue;
  }
  
  .legend-color-red {
    background-color: red;
  }
  
  .legend-color-green {
    background-color: green;
  }

  .legend-color-multi {
    background: linear-gradient(45deg, #ff9999, #99ff99, #9999ff);
  }
  
  .legend-color-green-border {
    background-color: transparent;
    border: 5px solid green;
  }